
body {
  width: 100%;
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 15px;
}

h1, p {
  color: #333;
}

canvas {
  display: inline-block;
}

.clear {
  width: 100%;
  height: 0px;
  clear: both;
}

#app {
  margin: auto;
  width: 650px;
}

#panels {
  float: left;
  width: 40px;
}

#spaces {
  float: right;
  width: 600px;
}

#datagraph {
  margin-top: 7px;
}